@import 'reset';
@import 'variables';
body{
    font-family: 'Montserrat', sans-serif;
}
button{
    cursor: pointer;
}
.header {
    background-color: $green-bg;
    padding: 18px 0;
    // .header_ul
    &__svg{
        width: 128px;
        height: 45px;
    }
    &_ul {
        display: flex;
        column-gap: 12px;
    }

    // .header__container

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .header__li
    &__li {
    a{
        text-decoration: none;
        color: #fff;
    }
    }

    // .header__button

    &__button {
        border: none;
        border-radius: 8px;
        padding: 11px 18px;
        color: $green-bg;
    }
}

.content {

    // .content__container

    &__container {
        max-width: 1200px;
        margin: 0 auto;
    }
}

.logo {
    background-image: url(../images/bg_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    &__box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 84px);
    }
    // .logo__svg

    &__svg {
        width: 256px;
        height: 90px;
        margin-bottom: 35px;
        margin-top: 180px;
    }

    // .logo__header

    &__header {
        @include header;
        color: #fff;
        margin-bottom: 33px;
    }

    // .logo__text

    &__text {
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 2px;
        opacity: .9;
    }
    &__anchor--box{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: end;
    }
    &__anchor{
        display: block;
        position: relative;
        width: 33px;
        height: 52px;
        border: 2px solid white;
        border-radius: 30px;
        opacity: .9;
        margin: 90px 0px 90px;
        &:hover::after{
                transform: translate(15px, 30px);
            }
        &::after{
            content: '';
            position: absolute;
            width: 1px;
            height: 10px;
            border-left: 2px solid #fff;
            left: 0;
            top: 0;
            transform: translate(15px, 10px);
            transition: transform .2s linear;
            
        }

    }
}

.text {

    // .text_first

    &_first {
        flex: 1 1 50%;
    }

    // .text__block
    &__flex{
        display: flex;
        justify-content: center;
        padding: 140px 0px 100px;
        position: relative;
        gap: 40px;
        max-width: 768px;
        &::after{
            content: '';
            width: 42px;
            height: 0px;
            border: 8px solid #E08631;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-21px, 70px);
        }
    }
    &__block {
        background: $gray-bg;
    }

    // .text__first--paragrapth

    &__paragrapth {
        color: $gray-alt;
        font-size: 13px;
        line-height: 20px;
    }
    &__paragrapth--second{
        margin-bottom: 40px;
    }

    // .text__second

    &__second {
        flex: 1 1 50%;
    }

    // .text__button

    &__button {
        @include green_button;
        padding: 11px 18px;
    }
}

.weekend {
    padding: 140px 0px;
    // .weekend__header

    &__header {
        font-weight: 700;
        font-size: 96px;
        line-height: 96px;
        text-align: center;
        color: #52503B;
        position: relative;
        &::before{
            content: '';
            width: 42px;
            height: 0px;
            border: 8px solid #E08631;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-21px, -40px);
        }

    }
}

.kitchen {

    // .kitchen__block

    &__block {

    }
    &__image{
        width: 100%;
        object-fit: cover;
    }
}

.amenities {
    background-color: $gray-bg;
    padding: 100px 0px;
    // .amenities__header

    &__header {
        @include header;
        text-align: center;
        margin-bottom: 14px;
        position: relative;
        &::before{
            content: '';
            width: 42px;
            height: 0px;
            border: 8px solid #E08631;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-21px, -40px);
        }
    }

    // .amenities__text

    &__text {
        @include text;
        max-width: 550px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 32px;
    }

    // .amenities__subcontainer

    &__subcontainer {
        display: flex;
        justify-content: space-between;
        column-gap: 64px;
    }

    // .amenities__svg
    &__card{
        text-align: center;
    }
    &__svg {
        width: 64px;
        height: 64px;
        margin-bottom: 12px;
    }

    // .amenities__subheader

    &__subheader {
        @include text;
    }

    // .amenities__subtext

    &__subtext {
        @include text;
    }
}

.escape {
    padding: 100px 0px;
    // .escape__about

    &__about {
        max-width: 600px;
        margin-bottom: 32px;
        position: relative;
        &::before {
                content: '';
                width: 42px;
                height: 0px;
                border: 8px solid #E08631;
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(0, -30px);
            }
    }

    // .escape__header

    &__header {
        @include header;
        margin-bottom: 12px;
    }

    // .escape__text

    &__text {
        @include text;
    }

    // .escape__amenities

    &__amenities {
        display: flex;
        justify-content: center;
        column-gap: 32px;
    }

    // .escape__amenities--box

    &__amenities--box {
        margin-bottom: 32px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    // .escape__amenities--list

    &__amenities--list {
        position: relative;
        margin-bottom: 32px;
    }

    // .escape__amenities--svg

    &__amenities--svg {
        width: 36px;
        height: 36px;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    // .escape__amenities--text

    &__amenities--text {
        padding-left: 52px;
    }
}

.responses {
    padding: 140px 0px 138px;
    &__container{
        position: relative;
        &--prev{
            top: auto;
            bottom: -70px;
            left: auto;
            right: 100px;
            color: $green-bg;
            &:hover::before {
                    scale: 1.05;
                }
            &::before{
                content: '';
                width: 60px;
                height: 60px;
                border: 2px solid $green-bg;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 0;
                transform: translate(-15px, -10px);
                transition: scale .2s linear;
            }
        }
        &--next{
            top: auto;
            bottom: -70px;
            right: 20px;
            color: $green-bg;
            &:hover::before{
                scale: 1.05;
            }
            &::before {
                    content: '';
                    width: 60px;
                    height: 60px;
                    border: 2px solid $green-bg;
                    border-radius: 50%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    transform: translate(-20px, -10px);
                    transition: scale .2s linear;
                }
        }
    }
    // .responses__header
    background-color: $gray-bg;
    &__header {
        text-align: center;
        @include header;
        margin-bottom: 12px;
    }

    // .responses__text

    &__text {
        text-align: center;
        @include text;
        max-width: 600px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    // .responses__swiper

    &__swiper {
        height: 266px;
    }

    // .responses__swiper--wrapper

    &__swiper--wrapper {}

    // .responses__slide

    &__slide {
        background-color: #fff;
        border-radius: 8px;
        border: 1px solid rgba(82, 80, 59, 0.1);
    }

    // .responses__slide--starbox

    &__slide--starbox {
        margin-bottom: 10px;
    }
    &__slide--content{
        padding: 31px;
    }

    // .responses__slide--svg

    &__slide--svg {
        width: 18px;
        height: 18px;
    }

    // .responses__slide--header

    &__slide--header {
        font-size: 18px;
        line-height: 24px;
        color: #333333;
        margin-bottom: 10px;
    }

    // .responses__slide--text

    &__slide--text {
        @include text;
        margin-bottom: 20px;
    }

    // .responses__slide--name

    &__slide--name {
        padding-left: 10px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 1px;
            height: 15px;
            border-left: 2px solid #E08631;
        }
    }
}

.bedroom {

    // .bedroom__block

    &__block {}
}

.together {
    padding: 100px 0 130px;
    // .together__box--first
    &__flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__box--first {
        flex: 1 1 50%;
        position: relative;
        &::before {
                content: '';
                    width: 42px;
                    height: 0px;
                    border: 8px solid #E08631;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translate(0, -30px);
            }
    }

    // .together__header

    &__header {
        @include header;
        margin-bottom: 12px;
    }

    // .together__text

    &__text {
        @include text;
    }

    // .together__box--second

    &__box--second {
        flex: 1 1 50%;
        display: flex;
    }


    // .together__list

    &__list {
        position: relative;
        margin-bottom: 64px;
        column-gap: 32px;
    }

    // .together__svg

    &__svg {
        width: 36px;
        height: 36px;
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translate(0, -5px);
    }

    // .together__list--svg

    &__list--text {
        @include text;
        padding-left: 50px;
    }
}

.booking {

    // .booking__header
    background-color: $gray-bg;
    padding: 100px 0;
    &__container{
        max-width: 533px;
        margin: 0 auto;
        text-align: center;
    }
    &__header {
        @include header;
        margin-bottom: 12px;   
    }

    // .booking__text

    &__text {
        @include text;
        margin-bottom: 12px;
    }

    // .booking__contact

    &__contact {
        @include transparent_button;
        padding: 16px 26px;
        margin-right: 20px;
    }

    // .booking__book

    &__book {
        @include green_button;
        padding: 16px 26px;
    }
}

.footer {

    // .footer__content

    &__content {}

    // .footer__content--subcontainer

    &__content--subcontainer {}

    // .footer__pages

    &__pages {}

    // .footer__content--header

    &__content--header {}

    // .footer__pages--box

    &__pages--box {}

    // .footer__pages--list

    &__pages--list {}

    // .footer__sc

    &__sc {}

    // .footer__sc--ul

    &__sc--ul {}

    // .footer__sc--list

    &__sc--list {}

    // .footer__sc--svg

    &__sc--svg {}

    // .footer__newsletter

    &__newsletter {}

    // .footer__newsletter--text

    &__newsletter--text {}

    // .footer__newsletter--input

    &__newsletter--input {}

    // .footer__newsletter--button

    &__newsletter--button {}

    // .footer__title

    &__title {}
}